@media (prefers-color-scheme: dark) {
  html, body {
    background: #222831;
  }

  h1 {
    color: #70798a;
  }

  .icons a, #resume {
    color: #535a66;
  }

  a:hover, #resume:hover {
    transition: 1s;
    color: #FFFFFF;
  }
}
