#logo {
    height: 3em;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}

p {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #808080;
}

#content {
    overflow: hidden;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #E05038;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #E05038;
}

body {
    background: #FEFCFB;
    padding: 3em;
}

#textbox {
    text-align: center;
}

.socialBtn {
    height: 1.8em;
    padding-right: 10px;
    opacity: 0.6;
}

.socialBtn:hover {
    opacity: 1;
}

a, a:visited {
    text-decoration: none;
    color: #E05038;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: 0.2s;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
}

.hl {
    font-weight: bold;
    color: #E05038;
}

.secondCard {
    padding-top: 1em;
}

.projectDesc {
    text-align: center;
}

.galleria {
    width: 320px;
    height: 300px;
    background: #000;
}

.title {
    text-align: center;
}

#scroll {
    opacity: 0.4;
}

::selection {
    background-color: #FF7D6E;
    color: #fff;
}

.screenshot {
    height: 35%;
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#bottom {
    background: url("../img/projects/spaceinv/spaceinv.gif");
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    height: 60%;
    opacity: 0.5;
}

#spaceInvDesc {
    background: #000000;
}

#spaceTitle, #spaceDesc {
    color: #808080;
}
