html, body {
  background: #FEFCFB;
  height: 95%;
  width: 95%;
}


#p-picture, #logo {
  display: none;
}

h1, h3 {
  font-family: Raleway;
  color: #EA6844;
}

h1 {
  font-size: 2.2rem;
}

h3 {
  font-size: 0.95rem;
}

p {
  font-family: Source Sans Pro;
  font-size: 0.9rem;
  color: #3F484D;
}
