@keyframes fadein {
    /* https://stackoverflow.com/questions/11679567/ */
    from { opacity: 0; }
    to   { opacity: 1; }
}

html, body {
  background: #faf8ef;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
}

body {
  /* https://stackoverflow.com/questions/11679567/ */
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s;   /* Firefox < 16 */
    -ms-animation: fadein 2s;   /* Internet Explorer */
     -o-animation: fadein 2s;   /* Opera < 12.1 */
        animation: fadein 2s;
}

h1, h2, h3 {
  font-family: Work Sans;
  font-weight: 600;
  color: #776e65;
}

h1 {
  font-size: 2.9rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-family: Lato;
  color: #776e65;
}

a:hover {
  transition: 1s;
  color: #BF616A;
}

a {
  color: #81A1C1;
}

video {
  padding: 2em 2em 0em 2em;
}

.center { margin: 0 auto; width: 500px; display: block; }
.caption { font-style: italic; text-align: center; opacity: 75%; padding-bottom: 2em; }
